<% include ./partials/boilerplate %>

  <h1>Welcome to the Receipe World</h1>
  <a href='/receipe'>Receipe</a>

<form id='request' action="/" method="GET">
    <input type='text' name='title' placeholder='Serch receipe title here' />
    <input type='submit' value='Get the receipe!' />
</form>


<h1>
<% include ./partials/end %>
