<% include ./partials/boilerplate %>


<div class="main_img">


<div class="main_heading">
  <h1>Welcome to Recipe World</h1>
</div>



<div class="main_form">
<form id='search_form' action="/receipesearch/results" method="post">
    <input class="title" type='text' name='title' placeholder='Search recipe here' />
    <input class="btnsearch" type='submit' value='Get receipe!' />
</form>
</div>

</div>



<% include ./partials/end %>
