
<% include ../partials/boilerplate %>
<%# views/receipe/new.ejs %>


<div class="main-new">


<div class="new-title">
<h1> Add a new Receipe</h1>
</div>

<form action="/receipe" method="POST">

  <div class="label-title">
  <label for="title">Title</label> <br/>
  <input id="title" type="text" name="title" placeholder="Title here" />
  </div>

  <br />

  <div class="label-img">
  <label for="picture"> Picture URL </label> <br/>
    <input type="text" name="picture" placeholder="Picture Url" />
  </div>

  <br />

  <div class="label-detail">
  <label for="direction">Direction</label> <br/>
  <input id="direction" type="text" name="direction" placeholder="Direction here" />
  </div>

  <br />

  <div class="recipe-add"> <input type="submit" value="Add Recipe!" /> </div>

</form>


<div class="new-cancel">
<a href="/user">Cancel</a>
</div>

</div>

<% include ../partials/end %>
