<%# views/receipe/show.ejs %>

<h1><%= receipe.title %></h1>

<img src="<%= receipe.picture%>" alt="<%= receipe.title %>" />

<p><%= receipe.direction %></p>

<a href="/receipe">Back to receipe index</a>
